!Use ! or /* */ for comments (if you dont like a certain setting)
!If changing things in this file doesnt result in changes in your term
!you should run `xrdb -load ~/.Xresources´

!-------------------------------------------------------------------------------
! Misc

! default terminal colors
/*
! Black + DarkGrey
*color0:  #000000
*color8:  #6a6a6a
! DarkRed + Red
*color1:  #e01010
*color9:  #e83a3d
! DarkGreen + Green
*color2:  #20ad20
*color10: #35e956
! DarkYellow + Yellow
*color3:  #d4c24f
*color11: #ffff2f
! DarkBlue + Blue
*color4:  #231bb8
*color12: #3a53f0
! DarkMagenta + Magenta
*color5:  #9c3885
*color13: #e628ba
!DarkCyan + Cyan (both not tango)
*color6:  #1dbdb8
*color14: #1cf5f5
! LightGrey + White
*color7:  #fefefe
*color15: #ffffff
*/

dzen2.font: -*-fixed-*-*-*-*-10-*-*-*-*-*-*-*

!-------------------------------------------------------------------------------
! XTerm
XTerm*faceName             : Inconsolata-g
XTerm*faceSize             : 10

XTerm*underLine            : on
XTerm*colorMode            : on
XTerm*colorBD              : lightyellow
XTerm*colorUL              : blue
!XTerm*colorBDMode         : false
!XTerm*colorULMode         : true

XTerm*dynamicColors        : true
XTerm*highlightSelection   : true

XTerm*eightBitInput        : true
XTerm*metaSendsEscape      : true
XTerm*charClass            : 33:48,35-38:48,39:43,42-47:48,58-59:48,61:48,63-64:48,126:48

!XTerm*backarrowKeyIsErase : true
!XTerm*backarrowKey        : true
!XTerm*borderWidth         : 0 doesnt do anything
XTerm*internalBorder       : 0
!XTerm*modifier            : alt
XTerm*saveLines            : 2048
XTerm*scrollBar            : false
XTerm*toolBar              : false
!XTerm*titeInhibit         : true

!------------------------------------------------------------------------------
! URxvt

URxvt*geometry        : 80x24
URxvt*font            : xft:Inconsolata-g:size=10:pixelsize=12:autohint=true
!URxvt*letterSpace     : -1

URxvt.perl-ext-common : default,matcher
URxvt*urlLauncher     : firefox
URxvt.matcher.button  : 1
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]

URxvt*scrollBar       : false
URxvt*scrollBar_right : true
!URxvt.reverseVideo    : true

URxvt*foreground: #cfcfcf
URxvt*background: #000000

URxvt*depth         : 32
URxvt*transparent   : true
URxvt*inheritPixmap : true
!URxvt*tintColor    : Black
URxvt*shading       : 20

URxvt*saveLines       : 5000
URxvt*BorderLess      : 1
URxvt*internalBorder  : 0
URxvt*urgentOnBell    : true

!----------------------------
! XFT settings
Xft.dpi       : 96
Xft.antialias : true
!Xft.rgba      : none
Xft.hinting   : full
!Xft.hintstyle : hintslight

