!Use ! or /* */ for comments (if you dont like a certain setting)
!If changing things in this file doesnt result in changes in your term
!you should run `xrdb -load ~/.Xresources´

!-------------------------------------------------------------------------------
! Misc

dzen2.font: -*-fixed-*-*-*-*-10-*-*-*-*-*-*-*

!-------------------------------------------------------------------------------
! XTerm
XTerm*faceName             : Inconsolata-g
XTerm*faceSize             : 10
XTerm*reverseVideo         : on

XTerm*borderWidth          : 0
XTerm*internalBorder       : 0
XTerm*scrollBar            : false
XTerm*toolBar              : false
xterm*bellIsUrgent         : true
XTerm*saveLines            : 2048

XTerm*underLine            : on
XTerm*colorMode            : on
XTerm*colorBD              : lightyellow
XTerm*colorUL              : blue
!XTerm*colorBDMode         : false
!XTerm*colorULMode         : true
XTerm*dynamicColors        : true
XTerm*highlightSelection   : true

XTerm*utf8                 : 2
XTerm*eightBitInput        : true
!XTerm*locale: true
XTerm*metaSendsEscape      : true
XTerm*charClass            : 33:48,35-38:48,39:43,42-47:48,58-59:48,61:48,63-64:48,126:48

!XTerm*backarrowKeyIsErase : true
!XTerm*backarrowKey        : true
!XTerm*modifier            : alt

!------------------------------------------------------------------------------
! URxvt
URxvt*termName        : rxvt
URxvt*font            : xft:Inconsolata-g:size=10:antialias=false
!URxvt*letterSpace     : -1

!Enable unicode input with ctrl-shift, disable stupid keycap-picture insert mode
URxvt.iso14755        : true
URxvt.iso14755_52     : false
URxvt.preeditType     : OverTheSpot
URxvt.inputMethod     : fcitx
!URxvt*imFont          : xft:Inconsolata-g:size=10:antialias=false

URxvt.perl-ext-common : default,matcher
URxvt.url-launcher    : firefox
URxvt.matcher.button  : 1

URxvt*scrollBar       : false
!URxvt.reverseVideo    : true
URxvt*BorderLess      : 1
URxvt*internalBorder  : 0
URxvt*urgentOnBell    : true
URxvt*saveLines       : 5000

URxvt*foreground: #cfcfcf
URxvt*background: #000000
! Use default blue color
URxvt*color12: rgb:5c/5c/ff

! Real transparency
URxvt*depth         : 32
URxvt.background    : [95]#000000
! Pseudo transparency
URxvt*transparent   : true
URxvt*shading       : 10

!----------------------------
! XFT settings
!Xft.dpi       : 96
Xft.antialias : true
Xft.rgba:     : rgb
Xft.hinting   : true
Xft.hintstyle : hintfull
!Xft.rgba      : none
Xft.autohint  : 0
Xft.lcdfilter : lcddefault

